/* cargar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* configuracion general */
@import "tailwindcss";
@import "flowbite";
@source "../.flowbite-react/class-list.json";

/* configuracion de tema */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* configuracion de fuentes */

.bungee {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* animaciones */
/* sombra azul rotativa */
@keyframes rotate-blue-shadow {
  0% {
    box-shadow: 0 0 20px 5px rgb(96 165 250);
  }
  25% {
    box-shadow: 0 0 20px 5px rgb(59 130 246);
  }
  50% {
    box-shadow: 0 0 20px 5px rgb(37 99 235);
  }
  75% {
    box-shadow: 0 0 20px 5px rgb(29 78 216);
  }
  100% {
    box-shadow: 0 0 20px 5px rgb(96 165 250);
  }
}

/*animación de flotación */
@keyframes float-effect {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.floating-blue {
  animation: rotate-blue-shadow 4s linear infinite, float-effect 3s ease-in-out infinite;
  transition: transform 0.3s ease;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
    backdrop-filter: blur(0);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.5s ease-out forwards;
}

.animate-fadeInBackdrop {
  animation: fadeInBackdrop 0.4s ease-out forwards;
}


@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-4px);
  }
  40%, 80% {
    transform: translateX(4px);
  }
}

.shake-button:hover svg{
  animation: shake 0.4s ease-in-out;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-reverse {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 4s linear infinite;
}
